.App {
  background: #e4e4e4;
  height: 100vh;
  padding: 50px;

  .Title {
    text-align: center;
  }

  .PhoneGroup {
    display: flex;
    justify-content: center;

    .PhoneContainer {
      padding: 20px;

      .LanguageContainer {
        display: flex;
        padding: 8px;

        h3 {
          margin-right: 4px;
        }

        input {
          flex-grow: 1;
        }
      }
    }
  }
}
