.App {
  background: #e4e4e4;
  height: 100vh;
  padding: 50px;

  .Title {
    text-align: center;
  }

  .PhoneGroup {
    display: flex;
    justify-content: center;
    overflow: scroll;

    @media screen and (max-width: 850px) {
      justify-content: flex-start;
    }

    .PhoneContainer {
      padding: 20px;

      .LanguageContainer {
        display: flex;
        padding: 8px;

        h3 {
          margin-right: 4px;
        }

        input {
          flex-grow: 1;
        }
      }
    }
  }
}
